# E-Commerce Customer Behavior

# Import Library

In [1]:
import pandas as pd

In [2]:
path = "/content/drive/MyDrive/AVD PRATIKUM/ecommerce_customer_behavior_5000.csv"
df = pd.read_csv(path)

# Memuat Dataset

In [3]:
df

,order_id,customer_age,customer_gender,product_category,payment_method,order_value_usd,delivery_time_days,customer_rating,returned,order_date
0,1,37,Other,Home & Living,Wallet,1366.60,10,2.3,No,2022-01-01
1,2,41,Female,Fashion,Cash on Delivery,1175.89,6,1.8,Yes,2022-01-02
2,3,30,Other,Sports,Debit Card,1283.97,7,3.2,No,2022-01-03
3,4,58,Female,Electronics,Credit Card,1245.76,14,3.8,No,2022-01-04
4,5,59,Other,Fashion,Cash on Delivery,1411.06,7,3.2,No,2022-01-05
...,...,...,...,...,...,...,...,...,...,...
4995,4996,18,Female,Groceries,Credit Card,420.44,7,1.3,Yes,2035-09-05
4996,4997,19,Male,Sports,UPI,1389.97,2,1.2,Yes,2035-09-06
4997,4998,42,Male,Sports,Credit Card,845.66,4,1.3,Yes,2035-09-07
4998,4999,46,Other,Sports,Credit Card,1077.51,3,2.6,Yes,2035-09-08
4999,5000,60,Male,Sports,UPI,290.47,8,1.5,Yes,2035-09-09

# Business Understanding
Sebuah perusahaan *e-commerce* memiliki dataset berupa perilaku pelanggan yang berisikan demografi pelanggan, kategori produk, metode pembayaran, nilai pesanan, waktu pengiriman, *rating*, hingga perilaku pengembalian produk. Perusahaan tersebut ingin meningkatkan performa penjualan dan kepuasan pelanggan. Namun, perusahaan tersebut belum bisa memahami data-data yang mereka miliki secara optimal. Oleh sebab itu, diperlukan analisis data perilaku pelanggan untuk mendapatkan *insight* yang relevan serta menentukan *action* yang tepat agar perusahaan dapat memahami pola perilaku pelanggan dan merumuskan strategi bisnis yang lebih efektif.

Fokus utama pada tahap *business understanding* adalah memahami permasalahan bisnis yang dihadapi perusahaan *e-commerce*, tujuan yang ingin dicapai, kebutuhan solusi dari sudut pandang bisnis, serta tahapan yang akan dilalui untuk mencapai tujuan bisnis.

## Business Objective
Tujuan dari proyek ini adalah untuk memahami bagaimana perilaku pembelian pelanggan, permintaan produk, pengiriman, serta status pengembalian memengaruhi kepuasan dan pengalaman pelanggan. Dengan mengetahui pola hubungan tersebut, perusahaan *e-commerce* dapat menyusun strategi penjualan dan layanan yang lebih efektif agar meningkatkan kepuasan pelanggan.

## Asses Situation
Seiring dengan meningkatnya persaingan dalam industri *e-commerce*, perusahaan perlu memahami perilaku pelanggan dalam melakukan pembelian. Perusahaan saat ini telah memiliki dataset perilaku pelanggan *e-commerce* untuk dianalisis, namun terdapat variasi data perilaku pelanggan yang perlu dipahami dan diolah lebih lanjut.

## Analityc Goals
Tujuan analisis dari proyek ini, meliputi:


1.   Menganalisis pola perilaku pembelian pelanggan.
2. Mengidentifikasi tingkat permintaan produk berdasarkan transaksi.
3. Menganalisis pengaruh waktu pengiriman terhadap kepuasan pelanggan.
4. Mengidentifikasi faktor terjadinya pengembalian produk.

## Project Plans
Proyek ini dimulai dengan pengumpulan data dari dataset perilaku pelanggan *e-commerce* yang mencakup data demografi pelanggan, kategori produk, metode pembayaran, nilai pesanan, waktu pengiriman, *rating*, serta perilaku pengembalian produk. Selanjutnya, data akan diproses melalui *data preparation* untuk menangani data yang hilang atau tidak konsisten agar hasil analisis lebih akurat. Setelah itu, dilakukan eksplorasi data untuk memahami pola pembelian pelanggan, distribusi nilai pesanan, waktu pengiriman, serta pengembalian produk melalui teknik visualisasi data. Tahap berikutnya adalah analisis hubungan antar variabel untuk mengidentifikasi faktor-faktor yang memengaruhi kepuasan dan pengalaman pelanggan. Terakhir, hasil analisis akan diinterpretasikan untuk memberikan *insight* dan rekomendasi *action* yang dapat digunakan sebagai dasar penyusunan strategi penjualan dan layanan *e-commerce*.